/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: lightgray; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
















/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* ==========================================================================
    Ventalandia styles here
   ========================================================================== */

body {
  min-width: 630px;         
  margin-top: 0px;
  margin-bottom: 0px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;     
  padding: 0;
  background: url(https://s3-sa-east-1.amazonaws.com/vld.bucket/static/bg.jpeg) repeat fixed;  
  height: 100%  
}

#footer {
  clear: both;
  padding: 25px 0;
  background: url(https://s3-sa-east-1.amazonaws.com/vld.bucket/static/sprite.png) 0 -303px repeat-x #F2F2F2;
  margin-top: -5px;
  height: 100px;
  position:relative;
  bottom:0;
  width: 1000px;
}

#container {
  padding-left: 200px;      
  padding-right: 190px;     
}

#container .column {
  float: left;
}

#center {
  margin-left: 14px;
  width: 372px;
  min-height: 600px;
}

#right {
  width: 360px;
  padding: 0 10px;
  margin-left: 420px;
  position: fixed;
  bottom: 0px;
  top: 0px;
  overflow-y: scroll;
}

#left {
  width: 203px;             
  margin-right: -100%;
  position: fixed;
  margin-left: -200px;
  min-height: 200px;  
  height: 100%;   
}

#footer {
  clear: both;
}

#footer {
  clear: both;
  padding: 25px 0;
  background: url(https://s3-sa-east-1.amazonaws.com/vld.bucket/static/sprite.png) 0 -303px repeat-x #F2F2F2;
  margin-top: -5px;
  height: 100px;
  position:relative;
    bottom:0;
    width: 1000px;
}

#header {
  font-size: large;
  text-align: center;

  position: fixed;
  width: 1000px;
  z-index: 1;
  background: url(https://s3-sa-east-1.amazonaws.com/vld.bucket/static/sprite.png) repeat-x;
  height: 38px;
  padding-top: 8px; 
}

#header .generic-search {
  float: left;
  margin-left: 51px;
  margin-top: -1px;
}

#header .generic-search .search-input {
  border-radius: 7px;
  height: 16px;
  width: 280px;
}

#header .generic-search .icon-search {
  margin-top: 5px;
}

#header .logo {
  background: url(../img/logo.png) top right no-repeat; 
  float: left;
  padding-top: 8px;
  width: 192px;
  height: 24px;  
  margin-top: -4px;
  cursor: pointer;
}

#header .logout {
  float: right;
  margin-top: 1px;
  margin-right: 10;
  margin-left: -10;
}

#header .logout:hover {
  color: black;
  text-decoration: underline;
}

#header .notifications {
  float: right;
  margin-top: 9px;
  width: 174px;
}

#header .notifications .btn {
  color: #FFFFFF;
}

#header .notifications:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

#header .counter {
  cursor: pointer;
  position: fixed;
  margin-left: -16;  
  padding-left: 4px;
  padding-right: 4px;
  position: fixed;
  background: red;
}

#footer a {
  color: #56595A;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#footer .social-facebook {
  background: url(../img/facebook.png) top right no-repeat; 
  width: 32px;
  height: 32px;  
}

#footer .social-twitter {
  background: url(../img/twitter.png) top right no-repeat; 
  width: 32px;
  height: 32px;  
}

#footer .social-googleplus {
  background: url(../img/google_plus.png) top right no-repeat; 
  width: 32px;
  height: 32px;  
}

#footer ul {
  display: table;
  text-align: center;
  margin: 0 auto;
}

#footer ul li {
  display: block;
  float: left;
  font-size: 15px;
  margin: 0 20px;
  line-height: 33px;  
}

#center .newsfeed {
   width: 407px;
   float: left;
   min-height: 600px;
   padding-top: 47px; 
   background-color: white;
   box-shadow: 0 0 4px 4px #F6F9F9;
}

#center .newsfeed a {
   color: darkgoldenrod;
}

#left a {
  color: black;
}

#left .miniprofile {
   background: #F2F2F2;
   width: 203px;
   height: 162px;
   position: fixed;
   border-bottom-left-radius: 7px;
   border-bottom-right-radius: 7px;
   box-shadow: 0px 4px 0 rgba(94, 94, 94, 0.1);
   -moz-box-shadow: 0px 4px 0 rgba(94, 94, 94, 0.1);
   -webkit-box-shadow: 0px 4px 0 rgba(94, 94, 94, 0.1);
}

#left .miniprofile .thumbnail {
   margin-top: 52px;
   width: 60px;
   height: 60px;
   float: left;
   display: block;
   margin-left: 11px;
   margin-right: auto
}

#left .miniprofile .info {
   padding-top: 51px;
   float: left; 
   margin-left: 0px;
}

#left .miniprofile .info ul {
  list-style-type: none;
  list-style-position:inside;
}

#left .miniprofile .info .reputation {
  margin-left: 15;
  position: relative;
  top: -5; 
  cursor: pointer; 
}

.reputation.badge.grey {
  background-color: grey;
}

.reputation.badge.red {
  background-color: red;
}

.reputation.badge.orange {
  background-color: orange;
}

.reputation.badge.yellow {
  background-color: yellow;
}

.reputation.badge.lightgreen {
  background-color: lightgreen;
}

.reputation.badge.green {
  background-color: green;
}

#left .miniprofile .info ul li {
  margin-left: -10;
}

#left .miniprofile .nav {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 120px;
}

#left .miniprofile .nav li a:hover {
  background: #FFFFFF;
}

#left .navigation {
   padding-top: 162px;
   width: 212px;
   height: 126px;
}

#left .navigation ul {
   position: fixed;
   width: 203px;
}

#left .navigation .nav {
  padding-top: 10px;
}

#center .newsfeed .news {
  width: 391px;
  margin-top: 5px;
  padding-right: 8;
  margin-left: 7;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;  
}

#center .newsfeed .news:hover {
    background-color: #F0F0F0;
    cursor: pointer;
}

#center .newsfeed .news.active {
    width: 391px;
    background-color: #EBECDC;
    cursor: pointer;
}

#center .newsfeed .news .icon {
  width: 49px;
  float: left;
  height: 70px;  
  margin-top: 3;
}

#center .newsfeed .header {
  padding-top: 5px;
}

#center .newsfeed .news .icon.QUESTION {
  background: url('/img/question.png') no-repeat center top;
}

#center .newsfeed .news .info {

}

#center .newsfeed .space {
  height: 33px;
}

#center .newsfeed .news .info .date {
  text-align: right;
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}

#right {
  background-color: #F0F0F0;
}

#right.active {
  background-color: #EBECDC;
}

#right .wrapper {
  margin-left: 3px;
  height: 100%;
  overflow-y: scroll;
}

#right .space {
  height: 40px;
}

#right .wrapper > div {
  margin-top: 16px
}

#right .header {
  font-weight: bold;
  text-shadow: -1px 1px white;
  height: 23px;
}

#right .conversation .question .icon {
  width: 24px;
  float: left;
  height: 24px;  
  margin-top: 5;
  background: url('/img/question-small.png') no-repeat center center;  
}

#right .conversation .question .text, #right .conversation .answer .text {
  margin-left: 4px;
}

#right .conversation .answer .thumbnail {
  width: 19px;
  float: left;
  height: 19px;  
  margin-top: 0;
  padding: 0px;
}

.thread .question, .thread .answer, .thread .question .text, .thread .answer .text {
  margin-top: 7px !important; 
  margin-right: 8px;
}

.thread .question, .thread .answer {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: white;  
}

.thread .text {
  margin-left: 5px;
}

.thread .icon, .thread .answer .icon .thumbnail {
  margin-right: 3px;
  margin-top: 7;  
}

.thread .answer textarea {
  width: 320px;
  height: 55px;
}

#right .publication {
  height: 80px;
}

#right .publication .header, #right .buyer .header, #right .conversation .header{
  color: darkGoldenrod;
}

#right .publication .info {
  position: relative;
}

#right .publication .info .title {
  position: absolute;
  bottom: -58;
  left: 69px;
}

#right .publication .picture {
  width: 60px;
  float: left;
  height: 60px;  
  margin-top: 0;
  padding-right: 5px;
}

#right .buyer {
  height: 80px;
}

#right .buyer .info {
  position: relative;
}

#right .buyer .info .nickname {
  position: absolute;
  bottom: -58;
  left: 69px;
}

#right .buyer .picture {
  width: 60px;
  float: left;
  height: 60px;  
  margin-top: 0;
  padding-right: 5px;
}

#right .answer .send {
  clear:both;
  margin-left: 280;
}

.date {
  text-align: right;
  color: grey;
  font-style: italic;
  font-size: 0.8em;
}












#footer.guest {
  height: 80px;
  position:absolute;
}

.main-content-guest {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 50px;
  height: 400px;
  background: darkGoldenrod;
}

.main-content-guest .logo {
  background: url(../img/logo.png) right no-repeat; 
  width: 181px;
  height: 42px;
  margin-top: 19px;
  margin-left: 15px;
  top: 15px;
  position: relative;
}

.main-content-guest .content {
  background: #F2F2F2;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 15px;
  padding-bottom: 15px;  
  width: 648px;
  height: 274px;
  margin-top: 29;
  margin-left: 0px;
}

.main-content-guest .content .headline {
  margin-top: 3px;
  font-weight: bold;
  font-size: 28;
}

.main-content-guest .content .picture {
  float: left;
  width: 291px;
  height: 210px;  
  background: url(../img/morochaperra.jpeg) right no-repeat; 
  margin-top: 23px;
}

.main-content-guest .content .info {
  float: right;
  width: 313px;
  height: 139px;
  background: #EBECDC;
  margin-top: 24;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.main-content-guest .content .info .title{
  font-weight: bold;
  color: darkgoldenrod;
  font-size: 17;
  padding-top: 10px;
}

.main-content-guest .content .info p {
  margin-top: 10px;
  color: grey;
}

.main-content-guest .content .info .btn {
  margin-left: 17px;
  margin-top: 21px;
}




