<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html ng-app="vldApp" class=" js no-flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en"><!--<![endif]--><head>
  <meta charset="utf-8">

  <title>Ventalandia</title>
  <meta name="description" content="Te ayuda a concretar mas ventas y mas rapido!, vende mas y mejor en Mercadolibre!">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/style.css">
  <link href="css/bootstrap.css" rel="stylesheet">  

  <!-- script src="http://www.google-analytics.com/ga.js"></script -->
  <script src="js/libs/modernizr-2.5.3.min.js"></script>
  <script src="js/libs/angular.js"></script>
  <script src="js/libs/angular-resource.js"></script>
  <script src="js/libs/angular-cookies.js"></script>

  <script src="js/app/namespaces.js"></script>
  <script src="js/app/ui.js"></script>
  <script src="js/app/app.js"></script>
  <script src="js/app/services.js"></script>
  <script src="js/app/controllers.js"></script>
  <script src="js/app/models.js"></script>
  <script src="js/app/filters.js"></script>
  <script src="js/app/directives.js"></script>  

</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Tu browser es <em>viejo!</em> <a href="http://browsehappy.com/">Bajate un browser nuevo</a> o <a href="http://www.google.com/chromeframe/?redirect=true">instala Google Chrome Frame</a> para poder usar Ventalandia.</p><![endif]-->
  <header>
    <div class="header-container">
      <div class="logo"></div>
      <div class="generic-search">
        <i class="icon-search icon-white"></i>
        <input type="search" class="search-query search-input" placeholder="Buscar..." size="90"/>
      </div>
      <div class="btn btn-link logout">
        <i class="icon-off icon-white"></i>  
        Salir
      </div>
      <div class="notifications">
        <span class="btn btn-link">
          <i class="icon-exclamation-sign icon-white"></i>  
          Notificaciones
        </span>      
        <span class="badge badge-important counter">16</span >       
      </div>  
    </div>
  </header>

  <div class="main-container">
    <div class="main" ng-controller="ventalandia.controller.NewsController">
      <div class="newsfeed">
        <div class="news" ng-repeat="entry in newsfeed.entries" ng-click="showNewsDetails($event, entry)">
          <span class="icon {{entry.type}}"></span>
          <span class="info">
            <div class="header"><a href="#">{{entry.buyerNickName}}</a></div>
            <div class="message">Agrego una nueva pregunta a la publicacion:</div>
            <div class="footer"><a href="#">{{entry.itemTitle}}</a></div>
            <div class="date">{{entry.date}}</div>
          </span>
        </div>
      </div>
      <div class="details">
        <div class="space"></div>
        <div class="wrapper" ng-show="newsDetails != null">
          <div class="publication">
            <div class="header">Publicaci&oacute;n:</div>
            <img class="picture" ng-src="{{newsDetails.item.pictureUrl}}"></img>
            <div class="info">
              <div class="title">{{newsDetails.item.title}}</div>
            </div>
          </div>
          <div class="buyer">
            <div class="header">Cliente:</div>
            <img class="picture" ng-src="{{newsDetails.buyer.pictureUrl}}"></img>
            <div class="info">
              <div class="nickname">{{newsDetails.buyer.nickName}}</div>
            </div>
          </div>
          <div class="conversation">
            <div class="header">Conversaci&oacute;n:</div>
            <div class="thread" ng-repeat="question in newsDetails.questions">
              <div class="question">
                <div class="icon"></div>
                <div class="text">{{question.text}}</div>
              </div>
              <div class="answer">
                <div class="icon"><img ng-src="{{miniProfile.thumbnailUrl}}" class="thumbnail"></div>
                <div class="text">{{question.answer}}</div>
              </div>
            </div>          
          </div>
        </div>  
      </div>
    </div>
    <div class="sidebar">
      <div class="miniprofile" ng-controller="ventalandia.controller.MiniProfileController">
        <img ng-src="{{miniProfile.thumbnailUrl}}" class="thumbnail">
        </img>
        <span class="info">
          <ul>
            <li>{{miniProfile.firstName}}</li>
            <li>{{miniProfile.lastName}}</li>
          </ul>
          <span class="reputation badge {{reputationClass}}">Reputacion</span>
        </span>
        <ul class="nav nav-pills nav-stacked">
          <li>
            <a href="#"><i class="icon-user"></i>&nbsp;Ver Mi Perfil</a>
          </li>
        </ul>        
      </div>
      <div class="navigation">
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <a href="#"><i class="icon-home"></i>&nbsp;Novedades</a>
          </li>
          <li>
            <a href="#"><i class="icon-th-large"></i>&nbsp;Publicaciones</a>
          </li>
          <li>
            <a href="#"><i class="icon-briefcase"></i>&nbsp;Clientes</a>
          </li>
        </ul>        
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-container">
      <ul>
        <li><a href="#">Sobre Ventalandia</a></li>
        <li><a href="#">Terminos y Condiciones</a></li>
        <li><a target="_blank" href="http://blog.ventalandia.com">Blog</a></li>
        <li><a target="_blank" href="http://www.facebook.com/ventalandia"><div class="social-facebook"></div></a></li>
        <li><a target="_blank" href="http://www.twitter.com/ventalandia"><div class="social-twitter"></div></a></li>
        <li><a target="_blank" href="https://plus.google.com/106885144869417236506"><div class="social-googleplus"></div></a></li>
      </ul>
    </div>
  </footer>

  <script src="js/libs/jquery-1.7.1.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <script src="js/libs/bootstrap.js"></script>

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID. -->
  <script>
/*    
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'http://www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
*/
  </script>

  <!-- jQuery tooltips initialization -->
  <script>
    $(function() {
      $(".generic-search").tooltip({title:"Puede buscar Novedades, Publicaciones o Clientes. Escriba lo que busca y presione Enter.", placement: "bottom"});
      $(".reputation.badge").tooltip({title:"Este es su nivel actual de Reputacion en Mercadolibre.", placement: "right"});
      
      // Handle logout: (FIXME: move this out to a controller) 
      $(".logout").click(function() {
        ventalandia.ui.confirm("Salir", "Esta seguro de que desea salir de Ventalandia?", "Cancelar", "Ok", function() {
          document.cookie = 'vtd_token=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
          document.location.href="/";
          document.location.reload();
        });
      });
      
    });
  </script>
</body>
</html>
